body {
background-color: #FFFFFF;
}

@font-face {
	font-family:pretty;
	src: url(../fonts/pretty.ttf);
}

h1 {
	color:#5C2478;
  font-family:pretty;
  font-size: 36px;
}

h2 {
	color:#5C2478;
	font-family:pretty;
	   font-size: 30px; 

}


a {
	color:#5C2478;
   font-family:pretty;
    font-size: 26px; 

}

p {
	color:#5C2478;
   font-family:pretty;
   font-size: 24px; 
}

img {
    width: 100%;
}


.mynav {
	color:#FFFFFF;
   font-family:pretty;
   font-size: 24px;

}

#mynavb {

	background-color:#5C2478;
}


#navborder {
	border: 1px solid #FFFFFF;
}

#footer {
	font-size: 18px;
	font-color:#5C2478;
	font-family:pretty;

}
