body {
background-color: #FFFFFF;
}

@font-face {
	font-family:pretty;
	src: url(../fonts/pretty.ttf);
}

h1 {
	color:#9C32D1;
  font-family:pretty;
}

h2 {
	color:#9C32D1;
	font-family:pretty;}

h3 {
	color:#9C32D1;
	font-family:pretty;
}

a {
	color:#9C32D1;
   font-family:pretty;
}

p {
	color:#9C32D1;
   font-family:pretty;
   font-size: 30px; 
}

img {
    width: 100%;
}


.mynav {
	color:#FFFFFF;
   font-family:pretty;
   font-size: 24px;

}

#mynavb {

	background-color:#9C32D1;
}


#navborder {
	border: 1px solid #FFFFFF;
}
